.filterWrapper {
  margin: 2rem 0;

  .form-control,
  .form-select {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgray;

    &:focus {
      box-shadow: none;
    }
  }

  .btn {
    font-weight: bold;
  }
}
