@import "../../assets/styles/variables";

.footer {
  background-color: $primary;
  color: white;

  .container {
    padding: 50px 0;

    .logo {
      padding-left: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid white;

      img {
        width: auto;
        height: 40px;
      }
    }

    .sns {
      display: flex;
      padding-left: 50px;

      .item {
        padding-top: 10px;
        padding-right: 10px;

        img {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin-top: -40px;
    padding: 10px;
  }
}