@import "../../assets/styles/variables";

.rbWrapper {
  .customerDetail {
    padding: 2rem;
    border-radius: 1.25rem;
    background-color: $secondary;
  }
  @include breakpoint(desktop) {
    .customerDetail {
      width: 80%;
      margin: auto;
    }
  }
}
