.products {
  .titlePage {
    text-align: center;
  }

  .productsOption {
    .sort {
      width: 250px;
      display: flex;
      align-items: center;

      .text {
        white-space: nowrap;
        margin-right: 1rem;
      }
    }
  }

  .productItems {
    .item {
      .image {
        margin-bottom: 0.5rem;
        img {
          width: 100%;
          height: 220px;
          object-fit: cover;
        }
      }
      .title,
      .address,
      .price,
      .desc {
        margin-bottom: 0.5rem;
      }
    }
  }
}
