$primary: #789798;
$light: #ededed;
$secondary: #d2e7f1;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;600;700&family=PT+Sans:wght@400;700&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/variables";
@import "./assets/styles/global";

body {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;

  .btn,
  .form-control,
  .form-select {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  color: white;

  &:hover {
    color: white;
  }
}

.container.padded {
  padding: 0 1rem;
  .translate {
    display: flex;
    justify-content: flex-end;
    padding: 0 !important;
    padding-right: 2rem;

    @include breakpoint(untilTablet) {
      margin-top: 4rem;
      padding-right: 0;
    }
    .content {
      padding: 0.25rem 1rem;
      display: inline-flex;
      align-items: center;
      border: 1px solid lightgray;
      .fa-language {
        margin-right: 1rem;
      }
      .btn {
        border-radius: 0;
        font-size: 0.85rem;
        position: relative;

        &:focus {
          box-shadow: none;
        }
        &.active {
          font-weight: bold;
          &:after {
            content: "";
            width: 70%;
            position: absolute;
            bottom: 0;
            height: 2px;
            background-color: black;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
