$primary: #f2f504;
$light: #fff;
$secondary: #d2e7f1;

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/variables";
@import "./assets/styles/global";

a {
  color: inherit;
  text-decoration: none;
}

.translate {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  .content {
    background-color: $secondary;
    padding: 0.5rem 2rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0 0 1.25rem 1.25rem;
    .fa-language {
      margin-right: 1rem;
    }
    .btn {
      border-radius: 0;
      position: relative;

      &:focus {
        box-shadow: none;
      }
      &.active {
        font-weight: bold;
        &:after {
          content: "";
          width: 70%;
          position: absolute;
          bottom: 0;
          height: 2px;
          background-color: black;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
