.of-cover {
  object-fit: cover;
  object-position: center;
}

.f-11px {
  font-size: 11px;
}

.position-sticky {
  position: sticky;
  top: 0;
}

.modal-header {
  border-bottom: none !important;
  padding-bottom: 0;
}

.modal-footer {
  border-top: none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 100;

  img {
    width: 60px;
    height: 60px;
  }
}

.btn-primary {
  color: white;

  &:hover,
  &:focus {
    color: white;
  }
}